@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 117px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 20%;
}

.containerBtn {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  z-index: 1;
  margin-left: 50%;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.welcome {
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titleHotel {
  font-family: zen-antique;
  font-size: 103px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10.78px;
}

.description {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.5px;
}

.bookBtn {
  font-family: Montserrat;
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-text);
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

/* Tu CSS existente aquí */

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center; /* Alinea el texto al centro horizontalmente */
  }

  .containerBtn {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 10px;
  }

  .welcome,
  .titleHotel,
  .description,
  .bookBtn {
    margin: 10px 0; /* Ajusta el margen según tus preferencias */
  }

  .welcome,
  .titleHotel {
    font-size: 2rem;
    margin: auto; /* Centra vertical y horizontalmente */
  }

  .titleHotel {
    font-size: 2.5rem;
    letter-spacing: 0; /* Ajusta el espaciado entre letras según tus preferencias */
  }

  .description {
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: 0; /* Ajusta el espaciado entre letras según tus preferencias */
  }

  .bookBtn {
    font-size: 1rem;
  }
}