@import "../../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: var(--color-text);
  padding: 100px; /* Agrega un relleno de 20px a todos los lados */
}

.container2 {
  background-color: var(--color-text);
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  padding-left: 100px;
  padding-right: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.welcome {
  font-family: Montserrat;
  font-size: 100px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-left: 250px;
}

.title {
  font-family: zen-antique;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  color: var(--color-secundary);
}

.description {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--color-secundary);
}

.direction {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-secundary);
  margin: 0;
  padding: 0 100px;
}

.bookBtn {
  font-family: Montserrat;
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-text);
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.scrollBtn {
  font-family: Montserrat;
  text-decoration: none;
  background-color: var(--color-text);
  color: var(--color-secundary);
  border-radius: 50%; /* Cambia el valor de border-radius a 50% para hacerlo redondo */
  font-weight: 600;
  width: 50px; /* Ajusta el ancho y el alto según tus preferencias */
  height: 50px; /* Ajusta el ancho y el alto según tus preferencias */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 10%;
}

.contentContact {
  margin-bottom: 100px;
}

.entradas {
  border: 2px solid rgba(20, 39, 74, 0.5);
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  width: 500px;
}

.entradaTexto {
  border: 2px solid rgba(20, 39, 74, 0.5);
  border-radius: 0;
  width: 500px;
  font-size: 16px;
}

.bookBtn {
  font-family: Montserrat;
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-text);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 30;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 300px;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 36px;
  }
  .welcome {
    font-size: 50px;
    margin-left: 50px;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 15px;
  }
  .direction {
    font-size: 20px;
    margin: 0;
    padding: 0 36px;
  }
  .bookBtn {
    font-size: 10px;
    padding: 10px 15px;
  }
  .scrollBtn {
    width: 30px;
    height: 30px;
  }
  .container2 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .contentContact {
    margin-bottom: 50px;
  }
  .entradas {
    width: 300px;
  }
  .entradaTexto {
    width: 300px;
  }
  .bookBtn {
    margin-top: 100px;
    margin-right: 50px;
  }
}